.Cardapios-menu-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Cardapio-form-field {
    width: 49%;
}

@media screen and (max-width: 600px) {
    .Cardapio-form-field { width: 100%; } 
}