.Pokegame {
    display: flex;
    flex-direction: column;
} 

.Pokegame-container {
    display: flex;
    flex-direction: row;
}

.Pokegame-h1 {
    box-shadow: 1px 2px 5px 0px #00000026;
    padding: 0 16px;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .Pokegame-container {
        flex-direction: column;
    }
}