.Home-Menus-ListItem {
    display: flex!important;
    justify-content: space-between!important;
    min-height: 48px;
}

.Home-Menus-ListItem:nth-child(odd) {
    background-color: rgb(95, 95, 95) !important;
}

.Home-Menus-Chose {
    min-width: 200px!important;
}