* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.s480 {
  max-width: 480px;
  width: 100%;
}

.s600 {
  max-width: 600px;
  width: 100%;
}

.s840 {
  max-width: 840px;
  width: 100%;
}

.s940 {
  max-width: 940px;
  width: 100%;
}

.Center-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.button-container {
  justify-content: flex-end;
}