* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.s480 {
  max-width: 480px;
  width: 100%;
}

.s600 {
  max-width: 600px;
  width: 100%;
}

.s840 {
  max-width: 840px;
  width: 100%;
}

.s940 {
  max-width: 940px;
  width: 100%;
}

.Center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Center-container-Vertical {
  margin: 120px auto 10px auto;
}

.button-container {
  justify-content: flex-end;
}

.paper {
  background-color: rgb(87, 87, 87)!important;
}

button:not(.raized) {
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .Center-container-Vertical {
    margin: 56px 0 0 0;
    transform: translate(0, 0);
  }
  
}